
body {
	font-family: 'Roboto Condensed', sans-serif;
	color:#050755;

}


section {
	display:flex;
	height: 400px;
	flex-direction: column;
}
section h2 {
	flex:1;
	text-align: center;
	font-size: 30px;
}

div {
	display: flex;
	box-sizing: border-box;
	padding: 10px;
}

#hero-unit h2 {
	font-size: 55px;
	color: white;
	text-align: center;
}
#hero-unit div , #col3 div{

	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
	
}


#hero-unit {
	display:flex;
	flex:15;
	background-image: url("../img/cover.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    
}

#col3 {
	flex:15;
	display:flex;

}

#col3 img {
	width:254
	height:192px;
	margin: auto;
}
#col3 div {
	flex-direction: column;
}

#comments {
	display:flex;
	flex:15;

}
#comments div {
	display: flex;
	flex:1;
	
}

#comment-box {
	flex:1;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

footer {
	display: flex;
	background: rgba(0,0,0,0.2);

}
footer div {
	padding:50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer div img {
	width:24px;
	height:24px;
}

